<div>
  <h2 id="page-heading" data-cy="PatientHeading">
    <span>Patients</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-patient"
        [routerLink]="['/patient/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Créer un nouveau Patient</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (patients?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Aucun Patient trouvé</span>
    </div>
  }

  @if (patients && patients.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ndossierP">
              <div class="d-flex">
                <span>Ndossier P</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nom">
              <div class="d-flex">
                <span>Nom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prenom">
              <div class="d-flex">
                <span>Prenom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateNaissance">
              <div class="d-flex">
                <span>Date Naissance</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lieuNaissance">
              <div class="d-flex">
                <span>Lieu Naissance</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sexe">
              <div class="d-flex">
                <span>Sexe</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="gouvernorat">
              <div class="d-flex">
                <span>Gouvernorat</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="adresse">
              <div class="d-flex">
                <span>Adresse</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reperes">
              <div class="d-flex">
                <span>Reperes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tel">
              <div class="d-flex">
                <span>Tel</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prenomPere">
              <div class="d-flex">
                <span>Prenom Pere</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomMere">
              <div class="d-flex">
                <span>Nom Mere</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prenomMere">
              <div class="d-flex">
                <span>Prenom Mere</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomGMP">
              <div class="d-flex">
                <span>Nom GMP</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomGMM">
              <div class="d-flex">
                <span>Nom GMM</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="age">
              <div class="d-flex">
                <span>Age</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (patient of patients; track trackId(patient)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/patient', patient.id, 'view']">{{ patient.id }}</a>
              </td>
              <td>{{ patient.ndossierP }}</td>
              <td>{{ patient.nom }}</td>
              <td>{{ patient.prenom }}</td>
              <td>{{ patient.dateNaissance }}</td>
              <td>{{ patient.lieuNaissance }}</td>
              <td>{{ patient.sexe }}</td>
              <td>{{ patient.gouvernorat }}</td>
              <td>{{ patient.adresse }}</td>
              <td>{{ patient.reperes }}</td>
              <td>{{ patient.tel }}</td>
              <td>{{ patient.prenomPere }}</td>
              <td>{{ patient.nomMere }}</td>
              <td>{{ patient.prenomMere }}</td>
              <td>{{ patient.nomGMP }}</td>
              <td>{{ patient.nomGMM }}</td>
              <td>{{ patient.age }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/patient', patient.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Voir</span>
                  </a>

                  <a [routerLink]="['/patient', patient.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(patient)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
