<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (androgene(); as androgeneRef) {
      <div>
        <h2 data-cy="androgeneDetailsHeading"><span>Androgene</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ androgeneRef.id }}</span>
          </dd>
          <dt><span>N Dossier Pa</span></dt>
          <dd>
            <span>{{ androgeneRef.nDossierPa }}</span>
          </dd>
          <dt><span>Mois</span></dt>
          <dd>
            <span>{{ androgeneRef.mois }}</span>
          </dd>
          <dt><span>Reponse</span></dt>
          <dd>
            <span>{{ androgeneRef.reponse }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
        </button>

        <button type="button" [routerLink]="['/androgene', androgeneRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
        </button>
      </div>
    }
  </div>
</div>
