<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (cousin(); as cousinRef) {
      <div>
        <h2 data-cy="cousinDetailsHeading"><span>Cousin</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ cousinRef.id }}</span>
          </dd>
          <dt><span>Ndossier C</span></dt>
          <dd>
            <span>{{ cousinRef.ndossierC }}</span>
          </dd>
          <dt><span>Id Cousin</span></dt>
          <dd>
            <span>{{ cousinRef.idCousin }}</span>
          </dd>
          <dt><span>Prenom Cousin</span></dt>
          <dd>
            <span>{{ cousinRef.prenomCousin }}</span>
          </dd>
          <dt><span>Place Cousin</span></dt>
          <dd>
            <span>{{ cousinRef.placeCousin }}</span>
          </dd>
          <dt><span>Sexe C</span></dt>
          <dd>
            <span>{{ cousinRef.sexeC }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
        </button>

        <button type="button" [routerLink]="['/cousin', cousinRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
        </button>
      </div>
    }
  </div>
</div>
