<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (laboratoire(); as laboratoireRef) {
      <div>
        <h2 data-cy="laboratoireDetailsHeading"><span>Laboratoire</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Id</span></dt>
          <dd>
            <span>{{ laboratoireRef.id }}</span>
          </dd>
          <dt><span>Nom Laboratoire</span></dt>
          <dd>
            <span>{{ laboratoireRef.nomLaboratoire }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
        </button>

        <button type="button" [routerLink]="['/laboratoire', laboratoireRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
        </button>
      </div>
    }
  </div>
</div>
